.jdialog-content {
  min-width: 280pt;
  max-width: 400pt;
}

.jdialog-text {
  word-break: break-word;
  white-space: normal;
  padding-left: 8pt;
  padding-right: 8pt;
}

.jdialog-input {
  display: none;
  width: 95%;
  margin: 0 auto;
}

.jdialog-option-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 4pt;
}

.jdialog-option {
  display: none;
  padding: 4pt;
}

.jdialog-button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 4pt;
}

.jdialog-button {
  display: none;
  min-width: 60pt;
  height: 20pt;
  text-align: center;
  margin: 1pt;
}

.jdialog-select {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 4px;
}

.jdialog-text-input-label {
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-right: 4px;
}