.jmenu-container {
  color: aliceblue;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px 0px 4px 0px;
}

.jmenu-container a {
  float: left;
  font-size: 10pt;
  color: white;
  text-align: center;
  padding: 14pt 16pt;
  text-decoration: none;
}

.jmenu-dropdown {
  float: left;
  overflow: hidden;
}

.jmenu-dropdown .jmenu-dropbtn {
  cursor: pointer;
  font-size: 10pt;
  border: none;
  outline: none;
  color: aliceblue;
  padding: 6pt;
  background-color: inherit;
  font-family: inherit;
}

.jmenu-dropdown-content {
  display: none;
  position: absolute;
  background-color: #41485d;
  min-width: 160pt;
  z-index: 3;
}

.jmenu-dropdown-content a {
  float: none;
  padding: 6pt;
  text-decoration: none;
  display: block;
  text-align: left;
}

.jmenu-visible {
  display: block;
}

.jmenu-item-image {
  vertical-align: middle;
  width: 1.5 em;
  height: 1.5 em;
  padding-right: 4pt;
}